<h1>Movie Results</h1>

<%= button_to "Discover More Movies", "/discover", method: :get %>

<ul>
  <% @facade.movies.each_with_index do |movie, index| %>
    <li id="movie-<%= index %>"> <%= link_to "#{movie.title}", "/movies/#{movie.id}" %> Vote Average: <%= movie.rating %></li>
  <% end %>
</ul>
