<h1 id="header">Viewing Party Light</h1>
<h2>Existing Users:<br></h2>
<% if session[:user_id] %>
  <ul>
    <% @users.each do |user| %>
      <section id="user-<%= user.id %>">
        <li><%= user.email %></li>
      </section>
    <% end %>
  </ul>
<% end %>